.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(to bottom, #2FAEFE 78%, #F2F2F2 20%) ;
}
.itens-linha{
    display: flex;
    align-items: center;
    width: 100%;
}
.title{
    width: 70%;
    text-align: center;
}
h1{
    color: rgba(255, 255, 255, 1);
    text-shadow: 9px 6px 6px rgba(0, 0, 0, 0.16);
    margin: 3%;
}
.filtros{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 83%;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.16);
}
.filtro{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align-last: center;
    margin: 3% 1.5%;
    width: 15%;
}
.icone{
    width: 30%;
    height: 30%;
}
.mat-form-field{
    width: 70% ;
}
