<div class="cadastro-hotel">
  <div class="aviso cadastro-com-sucesso" *ngIf="cadastroSucesso">
    <p>Cadastro realizado com sucesso!</p>
  </div>
  <div class="aviso cadastro-sem-sucesso" *ngIf="naoCadastrado">
      <p>Preencha todos os campos obirgatorios!</p>
  </div>
  <p>{{ hotelForm.NomeCidade }}, {{hotelForm.PaisCidade}} <img class="img-placeholder" [src]=imgPlaceholder alt=""></p>
  <form class="formulario" name="formulario" #formulario="ngForm" (ngSubmit)="concluirCadastro(formulario)" >
      <mat-form-field class="">
          <input [(ngModel)]="hotelForm.Nome" matInput placeholder="Nome" [(readonly)]=statusReadonly required minlength="3" name="nome" autofocus>
      </mat-form-field>
      <mat-form-field class="">
          <input [(ngModel)]="hotelForm.Endereco" matInput placeholder="Endereço" [(readonly)]=statusReadonly required name="endereco">
      </mat-form-field>
      <div class="dois-itens">
        <mat-form-field class="preco">
            <input [(ngModel)]="hotelForm.Preco" matInput placeholder="Preço" [(readonly)]=statusReadonly required name="preco">
        </mat-form-field>
        <p>
          Classificação:
          <ngb-rating class="star" [(ngModel)]="hotelForm.Classificacao" rate="{{hotelForm.Classificacao}}" [(readonly)]=statusReadonly name="rate"></ngb-rating>
        </p>
      </div>
      <mat-form-field class="">
          <textarea class="text-area" rows="10" [(ngModel)]="hotelForm.Descricao" matInput placeholder="Descrição" [(readonly)]=statusReadonly name="descricao"></textarea>
      </mat-form-field>
      <mat-form-field class="">
          <input [(ngModel)]="hotelForm.Imagem" matInput placeholder="Imagem" [(readonly)]=statusReadonly required name="imagem">
      </mat-form-field>
      <div class="botoes">
        <button type="button" class="botao editar" (click)="habilitaReadonly()"><img class="icon " [src]=imgPencil alt=""> Editar</button>
        <button type="submit" class="botao concluir-cadastro">Concluir Cadastro</button>
        <button type="button" class="botao deletar" (click)="deletarhotel(hotelForm.Id)" ><img class="icon" [src]=imgGarbage alt=""> Deletar</button>
      </div>
  </form>
 
</div>
