<div class="cadastro-hotel">
  <p>{{ hotelForm.NomeCidade }}, {{hotelForm.PaisCidade}} <img class="img-placeholder" [src]=imgPlaceholder alt=""></p>
  <mat-form-field class="">
      <input [(ngModel)]="hotelForm.Nome" matInput placeholder="Nome" [(readonly)]=statusReadonly required >
  </mat-form-field>
  <mat-form-field class="">
      <input [(ngModel)]="hotelForm.Endereco" matInput placeholder="Endereço" [(readonly)]=statusReadonly required>
  </mat-form-field>
  <div class="dois-itens">
    <mat-form-field class="preco">
        <input [(ngModel)]="hotelForm.Preco" matInput placeholder="Preço" [(readonly)]=statusReadonly required >
    </mat-form-field>
    <p>
      Classificação:
      <ngb-rating class="star" [(ngModel)]="hotelForm.Classificacao" rate="{{hotelForm.Classificacao}}" [(readonly)]=statusReadonly required></ngb-rating>
    </p>
  </div>
  <mat-form-field class="">
      <textarea class="text-area" rows="10" [(ngModel)]="hotelForm.Descricao" matInput placeholder="Descrição" [(readonly)]=statusReadonly ></textarea>
  </mat-form-field>
  <mat-form-field class="">
      <input [(ngModel)]="hotelForm.Imagem" matInput placeholder="Imagem" [(readonly)]=statusReadonly required >
  </mat-form-field>
  <div class="botoes">
    <button class="botao editar" (click)="habilitaReadonly()"><img class="icon " [src]=imgPencil alt=""> Editar</button>
    <button type="submit" class="botao concluir-cadastro" (click)="concluirCadastro()">Concluir Cadastro</button>
    <button class="botao deletar" (click)="deletarhotel(hotelForm.Id)" ><img class="icon" [src]=imgGarbage alt=""> Deletar</button>
  </div>

</div>
