<div class="cadastro-hotel">

  <div class="lista-cidade">
    <mat-form-field>
      <mat-select placeholder="Cadastrar em..." (selectionChange)="cidadeSelecionada($event.value)" >
          <mat-option *ngFor="let c of cidades" [value]="c.Id">
            {{c.Nome}}
          </mat-option>
      </mat-select>
    </mat-form-field>
    <a [routerLink]="['/Cadastro-Hotel-parte-dois']"><img class="icone" [src]=imgPlaceholder alt=""></a> 
  </div>

  <!-- listagem dos hoteis cadastrados -->
  <table class="lista-hotel-tabela">
    <thead>
      <tr>
        <th class="primeira-coluna">Hoteis cadastrados</th>
        <th class="segunda-coluna">hotel</th>
        <th class="terceira-coluna">Acões</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let h of hoteis">
        <td class="primeira-coluna">{{h.Nome}}</td>
        <td class="segunda-coluna">{{h.NomeCidade}}, {{h.PaisCidade}}</td>
        <td class="terceira-coluna">
          <button class="botao" (click)="editarhotel(h)"><img class="img" [src]=imgPencilStriped alt=""></button>
          <button class="botao" (click)="deletarhotel(h.Id)"><img class="img" [src]="imgGarbage" alt=""></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
