
<div class="col">
  <div ngbDropdown class="d-inline-block nav-menu">
    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><img [src]=imgEdit alt=""> </button>
    <div class="nav-menu" ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem><a [routerLink]="['/Home']">Home</a></button>
      <button ngbDropdownItem><a [routerLink]="['/Cadastro-Cidade']">Cadastrar Cidade</a></button>
      <button ngbDropdownItem><a [routerLink]="['/Cadastro-Hotel']">Cadastrar Hotel</a></button>
    </div>
  </div>
</div>
  