<div class="conteudo">
  <div class="cabecalho">
    <div class="cabecalho-interno">
      <div class="botao">
        <button mat-button mat-dialog-close> <img [src]=imgLeftArrow alt="" class="imagem-botao"> </button>
      </div>
      <div class="nome-hotel">
        <h2 class="nome-hotel"> {{data.Nome}}</h2>
      </div>
    </div>
  </div>
  
  <div class="detalhes">
    <div class="detalhes-visuais">
      <img class="imagem-hotel"  src="{{data.Imagem}}" alt="Hotel">
      <ngb-rating class="star" rate="{{data.Classificacao}}"></ngb-rating>
    </div>

    <div class="descricao">
      <p>{{data.Descricao}}</p>
    </div>
  </div>
</div>
